* {
    margin: 0; 
}

/*SCROLL BAR*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}


body{
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
        
}

html, body {
    height: 100%;
    margin: 0;
}

/*NAV*/
.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 2px solid white;
    height: 66px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;

}


.navbar a{
    display: block;
    font-size: 1.8rem;
    color: black;
    padding: 0.87rem;
    text-decoration: none;
    
}

.navbar a:hover {
    background-color: #bfbfbf;
    color: black;
}

/*WELCOME SECTION*/
.welcome-section {
    background-image: url('./mypic.png');
    background-position: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: cover;
    color: white;
    font-size: 46px;
}

.welcome-section-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

/*PROJECTS*/
.project-section {
    text-align: center;
    height: 100%;
    width: 100%;

}

.project-section-header {
    margin-top: 47px;
    font-size: 3.6rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
/*ONTACT SECTION*/
.contact-section {
    text-align: center;
    height: 100%;
    width: 100%;
}

/*FOOTER*/
#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: right;
}

#footer p {
    font-size: 26px;
    margin-right: 10px;
}