* {
    margin: 0; 
    text-decoration: none;
    color: black;
}

/*SCROLL BAR*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}


body{
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
        
}

html, body {
    height: 100%;
    margin: 0;
}

/*NAV*/
.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 2px solid white;
    height: 66px;
    
    
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;

}


.navbar a{
    display: block;
    font-size: 1.8rem;
    color: black;
    padding: 0.87rem;
    text-decoration: none;
    font-weight: 600;
    
}

.navbar a:hover {
    background-color: white;
    color: black;
}

/*WELCOME SECTION*/
.welcome-section {
    background-image: url('./mypic.png');
    background-position: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: cover;
    color: white;
    font-size: 46px;
}

.welcome-section-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}



/*PROJECTS*/
.project-section {
    text-align: center;
    height: 100%;
    width: 100%;
    

}

.project-section-header {
    margin-top: 47px;
    font-size: 3.6rem;
    margin-bottom: 15px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.project-title {
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 23px;

}
.project-image {
    width: 220px;
    padding: 3px;
    text-align: center;
}
.code {
    
    color: var(--main-gray);
    transition: color 0.3s ease-out;

  
    
}
.project:hover .code {
    color: #ccc;
}
/*CONTACT SECTION*/
.contact-section {
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}
.contact-section h4 {
    font-style: italic;
}
.contact-link {
    display: inline-block;
    margin-top: 350px;
    margin-left: 97px;
    padding: 30px;
    
}
.contact-link a {
    margin-right: 30px;
    color: black;
}
.contact-link img {
    padding-right: 8px;
}

#github img {
    width: 2.6%;
    padding-bottom:5px; 
}
#blog img {
    width: 2.3%;
    padding-bottom: 5px;
    margin-right: 4px;
}
#twitter img {
    width: 3.1%;
    padding-top: 6px;
}
#facebook img {
    width: 3%;
}
#email img {
    width: 3%;
    padding-top: 16px;
}

/*FOOTER*/
#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: right;
}

#footer p {
    font-size: 26px;
    margin-right: 10px;
}