* {
    margin: 0;
  
    
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body{
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
        
}

html, body {
    height: 100%;
    margin: 0;
}

/*NAV*/
.navbar {
    position: relative;
    border-bottom: 2px solid #cccccc;
    height: 68px;
}

.nav-list {
    margin-top: 3px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0;
    float: right;
}

.navbar a{
    position: relative;
    color: #555;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 27px;
    
}

.navbar a:hover {
    background-color: #bfbfbf;
    color: black;
}
/*WELCOME SECTION*/
.welcome-section {
    background-image: url('./mypic.jpg');
    background-position: center;
    text-align: center;
    height: 100%;
    width: 100%;
  
    background-size: cover;
    position: cover;
    color: white;
    font-size: 46px;
}

.welcome-section-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

/*PROJECTS*/
#projects {
    text-align: center;
    height: 100%;
}

/*ONTACT SECTION*/
#contact-section {
    text-align: center;
    height: 100%;
}

/*FOOTER*/
#footer {
    text-align: right;
}